<h1>About</h1>
<p>
This is a <a href="http://rubyonrails.org/">Ruby on Rails</a>
application for the entering, moderation and management of laboratory
marks in the School of Chemistry. Please email
<a href="mailto:jerry.hagon@newcastle.ac.uk?Subject=LabMarks">jerry.hagon@newcastle.ac.uk</a> to report bugs or queries.
</p>
