<div class="center hero-unit">
<h1><span style="color:#f00;">Lab</span><span style="color:#66f;">Marks</span></h1>
<p>
Welcome to the School of Chemistry laboratory marks database.
Please sign in using the menu at the top-right of the screen.
Please report any technical problems to
<a href="mailto:jerry.hagon@ncl.ac.uk?Subject=Labmarks Database Query">jerry.hagon@ncl.ac.uk</a>.
</p>
</div>
